html,
body {
    overflow-x: hidden;
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
    /* Optional: hides the scrollbar */
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
    font-family: 'poppins', sans-serif;
}

.name-heading {
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 10px;
}

.icon-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5px;
    margin-left: 15px;
}

#drop {
    color: white;
}

.icon {
    font-size: 1.5em;
    margin-left: 10px;
    cursor: pointer;
}

.icon:first-child {
    margin-left: 0;
    /* Remove margin from the first icon */
}

.dropdown-menu {
    position: fixed;
    top: 50px;
    right: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    width: 100%;
    top: 60px;
    left: 0px;
    z-index: 1010;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 5px 0;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: 'popins', sans-serif;
    position: relative;
}

.dh, .da {
    font-size: 1.5rem;
}



.menu {
    font-size: 0.9rem;
    font-weight: 700;
}



.dropdown-menu ul li.aayush {
    padding: 15px 0;
    font-size: 1.8rem;
    font-weight: 500;

}

.dropdown-menu ul li.aayush::before,
.dropdown-menu ul li.aayush::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30%;
    height: 1px;
    background-color: white;
    
}


.dropdown-menu ul li.aayush::before {
    left: 0;
}

.dropdown-menu ul li.aayush::after {
    right: 0;
}



.dropdown-menu hr {
    display: none;
    /* Hide the default hr elements */
}


.nav-Links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

/* HomePage*/

#homePage {
    text-decoration: none; /* Remove default underline */
    position: relative;
    font-weight: normal; /* Default font weight */
    transition: font-weight 0.3s; /* Smooth transition for font weight */
}

#homePage::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Height of the underline */
    left: 0;
    bottom: -2px; /* Position it below the text */
    background-color: black; /* Color of the underline */
    transition: width 0.3s, font-weight 0.3s; /* Smooth transition for underline and font weight */
}

#homePage:hover::after, #homePage.active::after {
    width: 40%; /* Full width underline on hover or when active */
}

#homePage:hover {
    font-weight: 500; /* Increased font weight on hover */
}

#homePage:hover::after {
    width: 40%; /* Full width underline on hover */
}
#homePage.active {
    font-weight: 500; /* Increased font weight when active */
}


/*AboutPage*/



#aboutPage {
    text-decoration: none; /* Remove default underline */
    position: relative;
    font-weight: normal; /* Default font weight */
    transition: font-weight 0.3s; /* Smooth transition for font weight */
}

#aboutPage::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Height of the underline */
    left: 0;
    bottom: -2px; /* Position it below the text */
    background-color: black; /* Color of the underline */
    transition: width 0.3s, font-weight 0.3s; /* Smooth transition for underline and font weight */
}

#aboutPage:hover::after, #aboutPage.active::after {
    width: 40%; /* Full width underline on hover or when active */
}

#aboutPage:hover {
    font-weight: 500; /* Increased font weight on hover */
}

#aboutPage:hover::after {
    width: 40%; /* Full width underline on hover */
}
#aboutPage.active {
    font-weight: 500; /* Increased font weight when active */
}


/*SkillsPage*/

#skillPage {
    text-decoration: none; /* Remove default underline */
    position: relative;
    font-weight: normal; /* Default font weight */
    transition: font-weight 0.3s; /* Smooth transition for font weight */
}

#skillPage::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Height of the underline */
    left: 0;
    bottom: -2px; /* Position it below the text */
    background-color: black; /* Color of the underline */
    transition: width 0.3s, font-weight 0.3s; /* Smooth transition for underline and font weight */
}

#skillPage:hover::after, #skillPage.active::after {
    width: 40%; /* Full width underline on hover or when active */
}

#skillPage:hover {
    font-weight: 500; /* Increased font weight on hover */
}

#skillPage:hover::after {
    width: 40%; /* Full width underline on hover */
}
#skillPage.active {
    font-weight: 500; /* Increased font weight when active */
}


/*ProjectsPage*/

#projectPage {
    text-decoration: none; /* Remove default underline */
    position: relative;
    font-weight: normal; /* Default font weight */
    transition: font-weight 0.3s; /* Smooth transition for font weight */
}

#projectPage::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Height of the underline */
    left: 0;
    bottom: -2px; /* Position it below the text */
    background-color: black; /* Color of the underline */
    transition: width 0.3s, font-weight 0.3s; /* Smooth transition for underline and font weight */
}

#projectPage:hover::after, #projectPage.active::after {
    width: 40%; /* Full width underline on hover or when active */
}

#projectPage:hover {
    font-weight: 500; /* Increased font weight on hover */
}

#projectPage:hover::after {
    width: 40%; /* Full width underline on hover */
}
#projectPage.active {
    font-weight: 500; /* Increased font weight when active */
}







.nav-Links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    /* Spacing between links */
}

.nav-Links .contact {
    padding: 10px 15px;
    background-color: black;
    color: white;
}



.section1 {
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: -180px;
    font-family: 'Poppins', sans-serif;
    transform: translateX(-100px);
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.image-container {
    position: absolute;
    width: 200px;
    height: 250px;
    overflow: hidden;
    top: 200px;
    z-index: 3;
    transform: translateX(100px);
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rectangle {
    position: relative;
    margin-top: 210px;
    right: -10px;
    width: 200px;
    /* Adjust the width as needed */
    height: 250px;
    /* Adjust the height as needed */
    background-color: #5DEBD7;
    z-index: 2;
    transform: translateX(100px);
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.content-container {
    position: absolute;
    transform: translateX(-100px);
    animation: fadeIn 1s forwards;
    opacity: 0;
    top: 160px;
}

.paragraph {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    top: 300px;
    position: relative;
    width: 300px;
}


#scroll {
    display: none;
}

.home-btn {
    position: absolute;
    top: 650px;
    transform: translateX(-100px);
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.homeBtn {
    width: 45px;
    height: 40px;
    background-color: #5DEBD7;
    border: none;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
}

.home-icons {
    position: absolute;
    margin-right: 260px;
    display: grid;
    top: 260px;
    font-size: 1rem;
    transform: translateX(100px);
    animation: fadeIn 1s forwards;
    opacity: 0;
}

#icon {
    font-size: 24px;
    color: black;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.arrow-icon {
    color: black;
    font-size: 2rem;
    animation: moveUpDown 1.5s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (min-width: 1200px) {


    .navbar {
        background: rgb(239, 236, 236);
    }


    #drop {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

    .icon-box {
        display: none;
    }

    .icons {
        display: flex;
        align-items: center;
        margin-left: 50px;
        margin-right: 140px;
    }

    .logo-container {
        margin-left: 200px;
    }

    .section1 h1 {
        font-size: 2.8rem;
        left: 300px;
        top: 435px;
    }

    #hz {
        position: absolute;
        top: 342px;
        left: -50px;
        width: 40px;
        height: 2px;
        background-color: black;
    }

    .content-container {
        top: 0px;
        left: 350px;
    }

    .paragraph {
        font-size: 1.2rem;
        text-align: left;
        margin-top: 30px;
        /* Add margin to separate the paragraph from the heading */
    }

    .content-container p {
        font-size: 1.2rem;
        width: 400px;
    }

    .section1 .image-container {
        width: 300px;
        /* Increased width */
        height: 400px;
        /* Increased height */
        right: 320px;
        /* Move the image container towards the right */
        top: 180px;
    }

    .section1 .rectangle {
        top: -20px;
        width: 300px;
        /* Increased width */
        right: 310px;
        position: absolute;
        height: 400px;
        /* Increased height */
        left: auto;
    }

    .section1 .home-icons {
        top: 325px;
        right: -20px;
    }

    .home-btn {
        left: 300px;
        margin-top: -130px;
        display: flex;
    }

    .home-btn #scroll {
        display: block;
    }

    .home-btn p {
        position: absolute;
        font-family: 'Popins', sans-serif;
        width: 100px;
        left: 60px;
        top: -5px;
    }

    .home-btn .homeBtn {
        width: 50px;
        height: 40px;
        background-color: #5DEBD7;
        border: none;
        bottom: 20px;
        right: 20px;
        transition: background-color 0.3s ease;
    }

    .section2 {
        top: 400px;
        position: absolute;
    }

}


.section2 {
    background-color: #e8e6e6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 300px;
    height: 820px;
}


.box {
    width: 40px;
    height: 30px;
    background-color: #5DEBD7;
    position: relative;
    top: -70px;
    z-index: 2;
    left: 115px;
}

.section2 h2 {
    font-size: 1.8rem;
    font-weight: 700;
    z-index: 3;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.section2-heading {
    margin-top: -600px;
    transition: opacity 1s ease, transform 1s ease;
    transform: translate(-100px);
    opacity: 0;
}

.scrolled-heading {
    opacity: 1;
    transform: translateY(0px);
}

.about-container {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 150px;
    z-index: 3;
    transition: opacity 1s ease, transform 1s ease;
    transform: translate(100px);
    opacity: 0;
}

.scrolled-container {
    opacity: 1;
    transform: translateX(0px);
}

.about-image {
    width: 100%;
    /* Adjust image width */
    height: 100%;
    /* Maintain aspect ratio */
    object-fit: cover;
}

.abt-rectangle {
    width: 220px;
    height: 270px;
    background-color: #5DEBD7;
    position: relative;
    z-index: -1;
    top: -265px;
    left: -10px;
}

.about-content {
    position: absolute;
    text-align: left;
    top: 53%;
    width: 350px;
    /* Ensure full width */
    transition: opacity 1s ease, transform 1s ease;
    transform: translate(-100px);
    opacity: 0;
}

.scrolled-content {
    opacity: 1;
    transform: translateX(0px);
}

#hz1 {
    position: absolute;
    width: 32px;
    height: 2px;
    background-color: black;
    top: 20px;
    left: 0px;
}

.about-content p {
    margin: 10px 0;
    /* Adjust paragraph margins */
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
}

.about-content p2 {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.bullet {
    margin: 0 5px;
    /* Adjust bullet margin */
}

.about-btn {
    display: flex;
    margin-left: 70px;
    margin-top: 50px;
}

.abt-contact {
    border: none;
    background-color: black;
    color: white;
    padding: 9px 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}

.abt-contact a {
    text-decoration: none;
    color: white;
}

.link {
    width: 50px;
    font-size: 1.35rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 2px solid black;
}


@media screen and (min-width:1440px) {

    .section2 {
        position: absolute;
    }

    .section2-heading {
        position: absolute;
        right: 520px;
        margin-top: -350px;
    }

    .section2 h2 {
        font-size: 2.5rem;
        /* Make the heading bigger */
        left: 5px;
        /* Move the heading towards the left */
        top: 35px;
    }

    .section2 .box {
        width: 50px;
        height: 40px;
        top: -60px;
        left: 170px;
    }

    .section2 .about-container {
        position: absolute;
        width: 300px;
        /* Increased width */
        height: 400px;
        /* Increased height */
        top: 200px;
        left: 260px;
    }

    .section2 .abt-rectangle {
        top: -450px;
        left: 200px;
        width: 200px;
        /* Increased width */
        height: 500px;
        /* Increased height */
        z-index: -1;
    }

    .about-image {
        border: 10px solid white;
    }

    .section2 .about-content {
        top: 34%;
        right: 220px;
        width: 500px;
        /* Ensure full width */

    }

    .section2 .about-content p {
        margin: 10px 0;
        /* Adjust paragraph margins */
        font-size: 1.2rem;
        margin-left: 40px;
    }

    .section2 .about-content p2 {
        font-size: 1.2rem;
    }

    .section2 .about-btn {
        margin-left: 70px;
        margin-top: 50px;
    }

    .section2 .abt-contact {
        padding: 9px 15px;
        font-size: 1.2rem;
        margin-right: 20px;
    }

    .section2 .link {
        width: 50px;
        font-size: 1.35rem;
    }

    .section2 .about-btn {
        margin-left: 70px;
        margin-top: 50px;
    }

    .section2 .abt-contact {
        padding: 9px 15px;
        font-size: 1.2rem;
        margin-right: 20px;
    }

    .section2 .link {
        width: 50px;
        font-size: 1.35rem;
    }

    .section2 .about-btn {
        margin-left: 00px;
        margin-top: 50px;
    }



    .section2 .abt-contact {
        padding: 9px 15px;
        font-size: 1.2rem;
    }

}

.section3 {
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 1600px;
    height: 820px;
}

.section3 h3 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    z-index: 4;
    position: relative;
}

.section3-heading {
    position: relative;
    top: -300px;
}

.skill-container {
    top: 150px;
    position: absolute;
}


.service1 {
    z-index: 20;
    width: 260px;
    height: 320px;
    border: 5px solid black;
    position: relative;
    background-color: #fff;
    margin-bottom: 40px;
}

.service1-detail {
    top: 85px;
    left: 25px;
    text-align: left;
    position: relative;
}

.ux-container {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    position: relative;
    font-weight: bolder;
    z-index: 2;
}

.ux-rectangle {
    position: relative;
    top: -50px;
    margin-left: 25px;
    width: 30px;
    height: 30px;
    background-color: #5DEBD7;
    z-index: 1;
}

.ux-img {
    width: 100%;
    height: 100%;
    content: cover;
}

h7 {
    font-size: 1.3rem;
    font-family: 'Popins', sans-serif;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: -30px;
}

.service1-detail p {
    margin-top: -10px;
    font-size: 1rem;
    font-family: 'Popins', sans-serif;
    width: 200px;
    font-weight: 100;
    text-align: left;
}

.service-rectangle1 {
    width: 260px;
    height: 320px;
    border: 5px solid #5DEBD7;
    top: 15px;
    position: absolute;
    left: 15px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Added transform transition */
    transform: translate(0, 0);
    /* Initial position */
}

.service1:hover+.service-rectangle1 {
    opacity: 1;
    transform: translate(2px, 2px);
    /* Move diagonally to bottom right */
}



.service2 {
    z-index: 20;
    width: 260px;
    height: 320px;
    border: 5px solid black;
    position: relative;
    background-color: #fff;
    margin-bottom: 40px;
}

.service2-detail {
    top: 85px;
    left: 25px;
    text-align: left;
    position: relative;
}

.frontend-container {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    position: relative;
    font-weight: bolder;
    z-index: 2;
}

.frontend-rectangle {
    position: absolute;
    margin-top: -55px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-color: #5DEBD7;
    z-index: 1;
}

.frontend-img {
    width: 100%;
    height: 100%;
    content: cover;
}

h9 {
    font-size: 1.3rem;
    font-family: 'Popins', sans-serif;
    font-weight: 700;
    text-align: left;
}

.service2-detail p {
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Popins', sans-serif;
    width: 200px;
    font-weight: 100;
    text-align: left;
}

.service-rectangle2 {
    width: 260px;
    height: 320px;
    border: 5px solid #5DEBD7;
    top: 375px;
    position: absolute;
    left: 15px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Added transform transition */
    transform: translate(0, 0);
    /* Initial position */
}

.service2:hover+.service-rectangle2 {
    opacity: 1;
    transform: translate(2px, 2px);
    /* Move diagonally to bottom right */
}



.service3 {
    z-index: 20;
    width: 100%;
    height: 320px;
    border: 5px solid black;
    position: relative;
    background-color: #fff;
    margin-bottom: 40px;
}

.service3-detail {
    top: 85px;
    left: 25px;
    text-align: left;
    position: relative;
}

.backend-container {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    position: relative;
    font-weight: bolder;
    z-index: 2;
}

.backend-rectangle {
    position: absolute;
    margin-top: -55px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-color: #5DEBD7;
    z-index: 1;
}

.backend-img {
    width: 100%;
    height: 100%;
    content: cover;
}

h11 {
    font-size: 1.3rem;
    font-family: 'Popins', sans-serif;
    font-weight: 700;
    text-align: left;
}

.service3-detail p {
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Popins', sans-serif;
    width: 200px;
    font-weight: 100;
    text-align: left;
}

.service-rectangle3 {
    width: 260px;
    height: 320px;
    border: 5px solid #5DEBD7;
    top: 735px;
    position: absolute;
    left: 15px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Added transform transition */
    transform: translate(0, 0);
    /* Initial position */
}

.service3:hover+.service-rectangle3 {
    opacity: 1;
    transform: translate(2px, 2px);
    /* Move diagonally to bottom right */
}

.skill-container .service1,
.skill-container .service2,
.skill-container .service3 {
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.skill-container .service1.show,
.skill-container .service2.show,
.skill-container .service3.show {
    opacity: 1;
    transform: translateY(0);
}


@media screen and (min-width:1440px) {


    .section3 {
        height: 600px;
    }

    .section3 .skill-container {
        top: 150px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    .skill-container .service1,
    .service2,
    .service3 {
        width: 280px;
        height: 340px;
    }

    .service-rectangle1,
    .service-rectangle2,
    .service-rectangle3 {
        width: 280px;
        height: 340px;
    }

    .service-rectangle2 {
        top: 15px;
        position: absolute;
        left: 345px;
    }

    .service-rectangle3 {
        top: 15px;
        position: absolute;
        left: 680px;
    }

    .service1-detail p,
    .service2-detail p,
    .service3-detail p {
        font-size: 1.1rem;
    }

    .section3 h3 {
        font-size: 2.5rem;
    }

    .section3 .box {
        width: 50px;
        height: 40px;
        top: -100px;
        left: 155px;
        position: relative;
    }
}





.section4 {
    background-color: #e8e6e6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 2900px;
    height: 3000px;
}

h5 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    z-index: 4;
    position: relative;
}

.section4-heading .box {
    top: -90px;
    left: 200px;
    position: relative;
}

.section4-heading {
    position: relative;
    margin-top: 10px;
}

.project-container {
    top: -40px;
    position: relative;
}


.project1.drop,
.project2.drop,
.project3.drop,
.project4.drop,
.project5.drop,
.project6.drop {
    opacity: 1;
    transform: translateY(0);
}

.project1,
.project2,
.project3,
.project,
.project4,
.project5,
.project5,
.project6 {
    height: 440px;
    width: 330px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.project:hover {
    background-color: #fff;
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover,
.project6:hover {
    background-color: #fff;
}


.proj-detail {
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
}

.project-image {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin-left: 15px;
    top: 15px;
    position: relative;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proj-btn {
    font-size: 1.3rem;
    width: 45px;
    height: 45px;
    background-color: black;
    position: relative;
    top: -8px;
    left: 100px;
    border: none;
    transition: background-color 0.3s ease;
}

.proj-btn:hover {
    background-color: #5DEBD7;
}

.proj-btn:hover .proj-icon {
    color: black;
    /* Change icon color on hover */
}

.proj-icon {
    color: white;
    transition: color 0.3s ease;
}

#hz2 {
    display: block;
    left: 0px;
    width: 7%;
    /* Set the width to 100% */
    height: 1px;
    /* Set the height of the line */
    background-color: black;
    /* Set the background color to black */
    margin: 10px 0;
    /* Add some margin for spacing */
    height: 1px;
    position: relative;
}

.first-detail {
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    justify-content: space-between;
    /* Distribute space between items */
    margin-top: -25px;
}

p13 {
    position: absolute;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.82rem;

}

h13 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 1.25rem;
    font-weight: 600;
    top: 10px;
}

.proj-detail p {
    position: absolute;
    width: 300px;
}

.proj-buttons {
    top: 130px;
    position: relative;
}

.proj-code {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: transparent;
}

.proj-code:hover {
    color: #5DEBD7;
}

.github {
    margin-right: 5px;
    color: black;
}



@media screen and (min-width:1440px) {
    .section4 {
        top: 2250px;
        height: 1200px;
    }

    h5 {
        font-size: 2.5rem;
    }

    .section4-heading .box {
        width: 50px;
        height: 40px;
        top: -125px;
        left: 770px;
        position: relative;
    }


    .project-container {
        top: -40px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 1200px;
        margin-left: 220px;
    }

}


.section5 {
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 5850px;
    height: 720px;
    overflow: hidden;
}

h6 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    z-index: 4;
    position: relative;
}

.section5-heading .box {
    top: -110px;
    left: 150px;
    position: relative;
}

.section5-heading {
    position: relative;
    margin-top: -500px;
    transition: opacity 1s ease, transform 1s ease;
    transform: translate(-100px);
    opacity: 0;
    position: absolute;
}

.section5-heading.contacts {
    opacity: 1;
    transform: translateY(0px);
}




.contact-form.contacts1 {
    opacity: 1;
    transform: translateY(0px);
}

.contact-icons {
    transition: opacity 1s ease, transform 1s ease;
    transform: translate(100px);
    opacity: 0;
}

.contact-icons.contacts1 {
    opacity: 1;
    transform: translateY(0px);
}


.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -70px;
    background-color: black;
    /* Set background color to black */
    padding: 40px;
    height: 490px;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateX(20px);
    /* Use translateX for horizontal movement */
    opacity: 0;
    overflow: hidden;
}

.contact-form h {
    font-size: 1.3rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    bottom: 15px;
    position: relative;
}

.contact-input,
.contact-textarea {
    width: 100%;
    max-width: 280px;
    padding: 17px;
    margin: 6px 0;
    border: 1px solid #ddd;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    outline: none;
    /* Remove default outline */
    box-shadow: none;
    /* Remove default box-shadow */
    appearance: none;
    /* Consistent styling across browsers */
}

.contact-textarea {
    height: 100px;
    resize: none;
}

.contact-btn {
    position: absolute;
    height: 60px;
    width: 285px;
    background-color: #5DEBD7;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 370px;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}


.contact-btn:hover {
    transform: perspective(500px) translateZ(50px);
    /* Lift the button on hover */
}

#send {
    margin-right: 10px;
}

#contact {
    display: none;
}

@media screen and (min-width:1440px) {

    .section5 {
        top: 3500px;
        height: 600px;
    }

    h6 {
        font-size: 2.5rem;
    }

    .section5-heading {
        position: relative;
        margin-left: -680px;
        top: 200px;
    }

    .section5-heading .box {
        width: 50px;
        height: 40px;
        top: -155px;
        left: 220px;
        position: relative;
    }
    

    .name-email-container {
        display: flex;
        gap: 15px; /* Adjust gap as needed */
        margin-bottom: 5px;
    }
    
    .contact-input {
        width: 100%;
        max-width: 380px;
        padding: 15px;
        margin: 6px 0;
        border: 1px solid #ddd;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        outline: none;
        box-shadow: none;
        appearance: none;
    }


    #subject{
        width: 100%;
        max-width: 480px;
        padding: 15px;

    }

    #message{
        width: 100%;
        max-width: 480px;
        padding: 15px;
        height: 170px;
    }

    .contact-form h{
        right: 135px;
    }

    .contact-form{
        position: absolute;
        margin-left: 500px;
        height: 530px;
    }

    .contact-btn{
        height: 50px;
        font-size: 1.2rem;
        width: 240px;
        left: 40px;
    }

    .contact-icons {
        position: absolute;
        margin-right: 850px;
        color: #fff;
        right: 10px;
        top: 550px;
        display: flex;
        gap: 10px;
        font-size: 1.6rem;
    }

    .contact-icon-container {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }

    #contact {
        display: block;
    }

}





.section6 {
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 6510px;
    height: 120px;
}

.left-content {
    position: absolute;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Popins', sans-serif;
    color: white;
    top: 40px;
}

.right-content {
    position: relative;
    top: 30px;
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Popins', sans-serif;
    color: white;
}

@media screen and (min-width:1440px) {

    .section6 {
        top: 4200px;
        height: 120px;
        display: flex;
    }

    .left-content {
        position: absolute;
        font-size: 1.2rem;
        font-weight: 700;
        font-family: 'Popins', sans-serif;
        color: white;
        top: 50px;
        left: 100px;
    }

    .right-content {
        position: relative;
        top: 00px;
        display: flex;
        gap: 20px;
        font-size: 1.2rem;
        font-weight: 700;
        font-family: 'Popins', sans-serif;
        color: white;
        left: 550px;
    }

}